@import '../../styles';
div {
    &.center {
        text-align: center;
        button {
            border: 1px solid;
            border-radius: 5px;
            cursor: pointer;
            height: 3em;
            padding: 0 1em;
        }
    }
}

div {
    &.top-container {
        @extend %flex-center;
        padding: 0 1em;
        div {
            &.user-profile {
                @extend %box;
                max-width: 8em;
                .user-info {
                    text-align: center;
                }
            }
            &.user-detail {
                line-height: 1.5;
                ul {
                    list-style: none;
                }
            }
        }
    }
}

.repos-container {
    li {
        list-style: none;
    }
}

.title-separator {
    border-top: 1px solid;
    font-size: 1.5em;
    margin-top: 1em;
    padding-top: 0.5em;
    text-align: center;
}