// Light theme
.light-theme {
    $border-color: rgb(50, 50, 50);
    $hover-color: rgb(255, 255, 255);
    $dark-shadow: rgba(0, 0, 0, 0.5);
    main {
        background-color: #e6e6e6;
        .top-nav {
            background-color: #fff;
            border-color: #999;
        }
        .title-separator {
            border-color: #b7b7b7;
        }
        button {
            border-color: $border-color;
            &:hover {
                background-color: $hover-color;
            }
        }
        .user-profile {
            @extend %box;
        }
    }
    %box {
        box-shadow: 0px 0px 5px 1px $dark-shadow;
        &:hover {
            background-color: $hover-color;
        }
    }
}

// Dark theme
.dark-theme {
    $border-color: rgb(200, 200, 200);
    $hover-color: rgb(68, 68, 68);
    $light-shadow: rgba(255, 255, 255, 0.8);
    $link-color: rgb(0, 255, 255);
    main {
        background-color: #222;
        color: #fff;
        .top-nav {
            background-color: #444;
            border-color: #bbb;
        }
        .title-separator {
            border-top: 1px solid #b7b7b7;
        }
        button {
            border: 1px solid $border-color;
            &:hover {
                background-color: $hover-color;
                color: #fff;
            }
        }
        .user-profile {
            @extend %box;
        }
        a:-webkit-any-link {
            color: $link-color;
        }
    }
    %box {
        box-shadow: 0px 0px 5px 1px $light-shadow !important;
        &:hover {
            background-color: $hover-color;
        }
    }
}