div {
    &.top-container {
        text-align: center;
        input {
            &#search {
                width: 25em;
                height: 1.5em;
                padding: 0.5em 1em;
            }
        }
        div.user-profile {
            margin: 0 auto;
        }
    }
}